[Unit]
Description = My Python Service
After = multi-user.target

[Service]
Type = simple
WorkingDirectory = /Users/leonidlezner/Downloads/pythonservice
ExecStart = /Users/leonidlezner/Downloads/pythonservice/pythonservice.sh

[Install]
WantedBy = multi-user.target

